<h1>Editing Unversity Attachment</h1>

<%= render 'form', unversity_attachment: @unversity_attachment %>

<%= link_to 'Show', @unversity_attachment %> |
<%= link_to 'Back', unversity_attachments_path %>
