<div class="row"> 
                <div class="col-md-12">
                 <br>
                 <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix"> 
                            <div class="panel-title">General Settings</div> 
                            <ul class="panel-tool-options"> 
                               <!--  <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                                    </ul>
                                 </li> -->
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <!-- <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li> -->
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul> 
                        </div> 
                        <br>
                       
                        <div class="panel-body"> 
                <%= form_for @user,method: :patch do |f| %>
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="text_input" class="label_height">Email</label>
                                    <span style="color:red">*</span>
										<%= f.text_field :email, placeholder: "Name", class: "form-control" %>
                            </div>

                             <div class="col-md-4">
                               <label for="text_input" class="label_height">Image</label>
                                     <span style="color:red">*</span>
                                         <%= f.file_field :photo, placeholder: "Company Logo", class: "form-control"%>
                            </div> 
                        </div>
                        <div class="col-sm-4 col-sm-offset-4 input_success">
                                         <%= f.submit "Update", class: 'btn btn-red btn-md form-control'%>
                        </div>
                 
</div>
 <% end %></div></div></div>