<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   Dear Students,
 
  Your admission,
                     Your admission in  <%=@student.university.university_name%>  University is confirmed and your enrolment number for the same is <%=@student.enrollment%>
 
  You can check you admission on (website)
 
Regards,
Vishwa Education
7030306611
  </body>
</html>
