<div class="row"> 
                <div class="col-md-12">
                 <br>
                 <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix"> 
                            <div class="panel-title">Course Report</div> 
                            <ul class="panel-tool-options"> 
                                <!-- <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                                    </ul>
                                 </li> -->
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <!-- <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li> -->
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul> 
                        </div> 
                        <br>
                        <!-- panel body --> 
                        <div class="panel-body"> 
                         <%= link_to 'Back',dashboard_home_index_path, class: 'btn btn-red' %>
<%= form_for :course do |form| %>
 
<div class = "center">
     <div class="form-group">
        <div class="col-md-4">
          <label class="col-sm-6 control-label">Select Course</label>
    <%= form.select :course_id, Course.all.collect{|c| [c.course_name,c.id]}, {prompt:true},id: 'course_id',class: "form-control selectpicker", "data-live-search" => "true" %>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

  <div id="course">
</div>

        

<% end %>

</div>
</div>
</div>
</div>

<script type='text/javascript'>
$('#course_id').on('change', function() {
 var course_id;
 Item = $(this).val();
 $.ajax({
   url: '/reports/select_course',
   type: 'GET',
   dataType: 'script',
   data: {course_id: Item},
   }).success(function(data) {
   
 });
});
</script>